* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --color2: #1d3557;
  --color3: #457b9d;
  --color4: #a8dadc;
  --color5: #f1faee;
}

html {
  font-family: "Epilogue", sans-serif;
  --color3: #457b9d;
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#a8dadc), to(#457b9d));
  background: linear-gradient(#a8dadc, #457b9d);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style-type: none;
  margin-right: 10px;
}

.nav_link {
  display: inline;
  padding-right: 30px;
  font-weight: 900;
  color: #1d3557;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logoImg {
  padding-right: 2rem;
}

.imgIntro {
  width: 100%;
  z-index: 0;
}

.introText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: #1d3557;
}

.chabadModalButton {
  display: block;
  height: 30%;
  width: 65%;
  border-radius: 50%;
  border: 5px solid;
  border-color: #457b9d;
  background-color: #1d3557;
  color: #a8dadc;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

/* SECTION 1 HISTORY */
.historyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history_sub_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.history_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.historyH3 {
  width: 40%;
}

/* SECTION 2 WHAT IS Tabs  */
.what_is_container {
  padding-top: 10rem;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10rem)[2];
      grid-template-rows: repeat(2, 10rem);
}

.what_is_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-color: aliceblue;
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-weight: 900;
}

.tab_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (3rem)[3];
      grid-template-rows: repeat(3, 3rem);
  height: auto;
  background-color: aliceblue;
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-weight: 900;
}

.content_container {
  min-width: 0;
}

.tab_buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button_tab_style {
  display: block;
  height: 70%;
  width: 20%;
  border-radius: 50%;
  border: 5px solid;
  border-color: #457b9d;
  background-color: #1d3557;
  color: #a8dadc;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* SECTION 3 SLIDER   */
.slider_main_container {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.slider_div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.slider_div2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.slider_div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1000;
}

.slider_div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1000;
}

.modal_popout {
  position: absolute;
  left: 35%;
  top: 40%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  z-index: 1000;
  padding: 1rem 1rem;
  background-color: #f1faee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.modal--close {
  width: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.section {
  padding: 8rem 3rem;
  border-top: 1px solid #ddd;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.invisible {
  display: none;
}

.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.active_button {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.slide_img {
  float: left;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slides_img_container {
  height: 50rem;
  width: 50rem;
  overflow: hidden;
}

.slider_intro_container {
  padding-top: 10rem;
}
/*# sourceMappingURL=main.css.map */
